/* 头部页面标题 */
 .header-title {
   display: flex;
   justify-content: flex-start;
   align-items: center;

   /* 返回按钮 */
   .back {
     width: 34px;
     height: 34px;
     background: #FFFFFF;
     box-shadow: 0px 0px 32px 1px rgba(144, 145, 145, 0.15);
     border-radius: 6px 6px 6px 6px;
     text-align: center;
     line-height: 34px;
   }

   /* 标题 */
   .title {
     margin-left: 20px;
     width: 88px;
     height: 34px;
     background: #1890FF;
     border-radius: 6px 6px 6px 6px;
     font-size: 12px;
     font-family: Microsoft YaHei-Regular, Microsoft YaHei;
     font-weight: 400;
     color: #FFFFFF;
     text-align: center;
     line-height: 34px;
   }

 }
