@font-face {
  font-family: "iconfont";
  /* Project id 3594407 */
  src: url('../iconfont/iconfont.woff2?t=1660718663877') format('woff2'),
    url('../iconfont/iconfont.woff?t=1660718663877') format('woff'),
    url('../iconfont/iconfont.ttf?t=1660718663877') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beizhu:before {
  content: "\e615";
}

.icon-shanchu:before {
  content: "\e630";
}

.icon-shuangjiantou-zuo:before {
  content: "\e661";
}

.icon-shuangjiantou-you:before {
  content: "\e662";
}

.icon-yangshi_icon_tongyong_flag:before {
  content: "\e675";
}

.icon-youjiantou:before {
  content: "\e62b";
}

.icon-zuojiantou:before {
  content: "\e610";
}
