@font-face {
  font-family: "iconfont";
  /* Project id 3576888 */
  src: url('../iconfont/iconfont.woff2?t=1660030990586') format('woff2'),
    url('../iconfont/iconfont.woff?t=1660030990586') format('woff'),
    url('../iconfont/iconfont.ttf?t=1660030990586') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-ditu_dingwei:before {
  content: "\eb33";
}

.icon-double-circle:before {
  content: "\ea6c";
}

.icon-shuangjiantou:before {
  content: "\e624";
}

.icon-remenhuodong:before {
  content: "\e606";
}

.icon-drxx51:before {
  content: "\e706";
}

.icon-youjiantou_huaban:before {
  content: "\e63c";
}

.icon-fangdajing2:before {
  content: "\e633";
}
